/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #F9FFFF;
}

body {
  background-color: #F9FFFF;
  color: #002C3B !important;
}

h1, h2, h3 {
  color: #0078A1 !important;
}

.quarto-categories, .quarto-category {
  padding: 0 !important;
}

.quarto-category a {
  background-color: #0078A1;
  color: #F8FAFC;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  font-weight: bold;
}

.quarto-category a:hover {
  background-color: #00526E;
}

.listing-category {
  background-color: #0078A1 !important;
  color: #F8FAFC !important;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  font-weight: bold;
}

.listing-category:hover {
  background-color: #00526E !important;
}

#quarto-document-content {
  text-align: left !important;
}




